h1 {
            font-family: 'Courier New', Courier, monospace;
        }

        p {
            font-family: sans-serif;
        }  
        .a{
            font-family: Arial, Helvetica, sans-serif;
        }
        .b{
            font-family: fantasy;
        }